@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Kanit&family=Lexend+Deca:wght@200;500&display=swap");

html {
  width: 100%;
  height: 100%;
  display: table;
}

body {
  width: 100%;
  display: table-cell;
  background-color: #b2dfdb;
}

html,
body {
  margin: 0;
  padding: 0;
}

.review__container {
  display: flex;
  flex-direction: row;
  margin: 40px;
}

#buttons__container {
  display: flex;
  justify-content: center;
}

.button {
  margin: 25px;
  font-size: 40px;
  font-weight: 700;
}

.card {
  overflow-y: scroll;
  width: 33%;
  height: 300px;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  font-family: "Kanit", sans-serif;
  font-family: "Lexend Deca", sans-serif;
  font-size: 3em !important; /* Bulma override */
}

.title {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.hidden {
  display: none;
}

.next__button {
  display: flex;
  justify-content: center;
  display: none;
}

.endGame {
  display: none;
  justify-content: center;
  flex-direction: column;
}
.endGame > button {
  display: flex;
  margin: 0 auto;
  width: 25%;
}

.endGameText {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

/* MEDIA QUERYS */

@media screen and (max-width: 630px) {
  .review__container {
    display: flex;
    flex-direction: column;
  }
  .card {
    width: 100%;
    border-color: black;
    margin-top: 25px;
  }
}
